/StringsIndexing/nbproject/private/
/StringsIndexing/build/
/SzyfrCezara/nbproject/private/
/SzyfrCezara/build/
/StringRead/nbproject/private/
/StringRead/build/
/SplittingString/nbproject/private/
/SplittingString/build/
/Splittingspring2/nbproject/private/
/Splittingspring2/build/
/Menu1/nbproject/private/
/Menu1/build/
/Conversion/nbproject/private/
/Conversion/build/
/Conversion2/Conversion2/build/
/Conversion2/Conversion2/nbproject/private/
/Conversion2/build/
/CharsWithSort/build/
/CharsWithSort/nbproject/private/
/PlikTekst/build/
/PlikTekst/dist/
/PlikTekst/nbproject/private/
/CarsProject/nbproject/private/
/Words/nbproject/private/
/Words/build/
/TXTzamowienie/nbproject/private/
/TXTzamowienie/build/
/RAFile/nbproject/private/
/RAFile/build/
/Kolokwium/nbproject/private/
/Kolokwium/build/
/RAFHomework/nbproject/private/
/RAFHomework/build/
/DataFile/nbproject/private/
